<div class="container">
    <h1 class="display-4 font-weight-bold text-light text-center font-italic">FINANCE TRACKER</h1>
    <p class="lead text-center text-light font-italic">Check your favourite stocks and share with peers</p>
    <hr class="my-4">
</div>