
    <h1 class="display-4 font-weight-bold text-light text-center font-italic">FINANCE TRACKER</h1>
    <p class="lead text-center text-light font-italic">Check your favourite stocks and share with peers</p>
    <hr class="my-4">
    <p class="text-center text-light">Start stocking now</p>
    <div class="row justify-content-center">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search stocks" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
